<body>
        <div class="form-group">
          <div class="container">
            <div id="loginForm">
              <img src="assets/Images/wedlocksw.png" alt="Wonder Events Logo" class="navbar-logo rounded-rectangle" style="max-height: 70px;" width="120px;"><br /><br />
              <div>
                <h5 class="h5"><i><b>Welcome to Wedlock -Where Love Knows No Bounds!</b></i></h5>
                <h5 class="h5"><i><b>At Wedlock, we embrace your unique journey, celebrating love's magic,</b></i></h5>
                <h5 class="h5"><i><b>guiding your matrimony, and crafting timeless tales of commitment.</b></i></h5>
              </div>
            </div>
            <div class="d-flex">
              <form class="small-form">
                <h5 class="h5"><i><b>Founders:<br> Shivasai <br> Sandeep <br> Swati</b></i></h5>
                
              </form>
              <form class="small-form">
                <h5 class="h5"><i><b>Email: wedlock125&#64;gmail.com</b></i></h5>
                <h5 class="h5"><i><b>Phone Number:7013863446 </b></i></h5>
              </form>
            </div>
            <!-- <form class="large-form">
              <h4 class="h4"><i><b>Upload Links to Social Media</b></i></h4>
              <div class="form-group">
                <label for="facebookLink">
                  <img src="assets/Images/facebook-logo.png" alt="Facebook Logo" class="social-logo"> Facebook:
                </label>
                <input type="text" class="form-control" id="facebookLink" placeholder="Enter Facebook link">
              </div>
              <div class="form-group">
                <label for="youtubeLink">
                  <img src="assets/Images/youtube-logo.png" alt="YouTube Logo" class="social-logo"> YouTube:
                </label>
                <input type="text" class="form-control" id="youtubeLink" placeholder="Enter YouTube link">
              </div>
              <div class="form-group">
                <label for="instagramLink">
                  <img src="assets/Images/instagram-logo.png" alt="Instagram Logo" class="social-logo"> Instagram:
                </label>
                <input type="text" class="form-control" id="instagramLink" placeholder="Enter Instagram link">
              </div>
              <button type="submit" class="btn btn-primary">Submit Links</button>
            </form> -->
          </div>
        </div>
      </body>
      